{% extends 'biao/base.html' %}



{% block body %}
<div class="albums-container container-fluid">
    <div class="row col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Staphylococcus aureus, MSSA</h1>
                <h5>by Henry F. Chambers, M.D. last updated Oct 7, 2017 5:54 PM © Antimicrobial Therapy, Inc.</h5>
                <h5><strong>MSSA, Staphylococcus aureus, susceptible strains</strong></h5>
                <h2>Clinical Setting</h2>
                <ul>
                    <li>Isolation of a methicillin-susceptible strain of Staph. aureus in culture.</li>
                    <li>Definitive therapy depends on severity and site of infection.</li>
                    <li>For specific recommendations see the following:</li>
                        <ul><li>Bacteremia</li>
                            <li>Endocarditis</li>
                            <li>Furuncules, skin abscess, boils</li>
                            <li>Osteomyelitis</li>
                            <li>Pneumonia</li>
                            <li>Prosthetic joint infection</li>
                            <li>Septic arthritis</li>

                        </ul>
                </ul>

              <h3>Classification</h3>
<ul>
<li>Methicillin susceptible Staphylococcus aureus (MSSA)<em><br /></em></li>
</ul>
<h3>Primary Regimens</h3>
<ul>
<li>Bacteremia, other invasive infection
<ul>
<li>Nafcillin or Oxacillin 1-2 gm IV q4-6h</li>
<li>Cefazolin 1-2 gm IV q8h</li>
</ul>
</li>
<li>Oral options for mild to moderate infections<br />
<ul>
<li>Dicloxacillin 500 mg po qid</li>
<li>Cephalexin 500 mg po qid</li>
</ul>
</li>
</ul>
<h3>Alternative Regimens</h3>
<ul>
<li>Bacteremia, other invasive infection and severe allergy to beta-lactams or other treatment-limiting adverse effect
<ul>
<li>Vancomycin 15-20 mg/kg IV q8-12h (see Comments)</li>
<li>Daptomcyin 6 mg/kg IV q24h</li>
<li>Linezolid 600 mg po/IV q12h (not recommended for endocarditis or other endovascular infection)</li>
</ul>
</li>
<li class="internal-link">Oral options for mild or moderate infections</li>
<ul>
<li>Clindamycin 300-450 mg po tid</li>
<li>TMP-SMX 160-800 mg 1-2 tabs po bid</li>
</ul>
</ul>
<h3>Antimicrobial Stewardship</h3>
<ul>
<li>Empiric vancomycin for suspected or proven <em>S. aureus</em> bacteremia pending in vitro susceptibility results appears to be comparable to empirical beta-lactam provided a beta-lactam is used for definitive therapy. No evidence that empirical beta-lactam-vancomcyin combination therapy improves outcome and is not recommended. </li>
<li>Beta-lactams (e.g., Ceftriaxone) other than Cefazolin, Nafcillin, or Oxacillin for parenteral therapy of bacteremia or other invasive <em>S. aureus</em> infections are of unproven efficacy and generally not recommended.</li>
</ul>
<h3>Comment</h3>
<ul>
<li>A beta-lactam is the preferred agent for treatment of staphylococcal infections.
    Vancomycin is less effective than nafcillin or cefazolin and should be reserved
    for patients unable to tolerate a beta-lactam because of allergy or adverse effect  (Clin Infect Dis 2015 Aug 1;61(3):361-7).
<ul>
<li>Nafcillin and cefazolin appear to be equally effective clinically and cefazolin is better tolerated
    (Clin Microbiol Infect 2017 Jul 8. [Epub ahead of print] and (Clin Microbiol Infect 2017 Jul 8. [Epub ahead of print]).
    Cefazolin inoculum effect, in which the Cefazolin MIC is increased by use of a 100-fold higher than the standard inoculum, may be associated with clinical failure. </li>
</ul>
</li>
</ul>


            </div>
        </div>

    </div>
</div>
{% endblock %}



>